@import "../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container-video {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1200px; /*displays all the videos same height*/
  padding: 10px;
}

.video-title {
  margin-top: 20px;
}

h3 {
  font-family: "Nunito", arial, sans-serif;
  font-size: 1.75vw;
}
p {
  font-family: "Nunito", arial, sans-serif;
  font-size: 1.75vw;
}
