@import "../styles.scss";

.navbar {
  background: $primary;

  a {
    color: $white;
    text-decoration: none;
    font-family: "Nunito", arial, sans-serif;
    font-size: 1.25em;
  }
  a.logo {
    font-weight: bold;
  }
}

button.navbar-toggler {
  background: $gradientBackground;
}
