<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" routerLink="" routerLinkActive="active"
    >Dog Videos <fa-icon [icon]="dog" size="lg"></fa-icon
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="search-container">
      <app-search class="search-component"></app-search>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-center" routerLink="" routerLinkActive="active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
