@import "../../styles.scss";

/* increase the flex item size */
.input-group-append {
  display: flex;
  align-items: stretch;
  flex: 0 0 7%;
}
.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* fill the parent flex container */
.btn-secondary {
  flex: 1;
  border-color: $white;
  background: $gradientBackground;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
