@import "../../styles.scss";

/* increase the flex item size */
.input-group-append {
  display: flex;
  align-items: stretch;
  flex: 0 0 7%;
}
.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "Nunito", arial, sans-serif;
  font-size: 18px;
}
/* change the color of input's outer border */
.form-control:focus {
  border-color: #f7cfcf;
  box-shadow: inset 0px 1px 1px #efa4a4;
}

/* fill the parent flex container */
.btn-secondary {
  flex: 1;
  border-color: $white;
  background: $gradientBackground;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
