<div class="container-home">
  <ul *ngIf="videos" class="cards">
    <li *ngFor="let video of videos" class="cards_item">
      <div class="card">
        <div class="card_image">
          <img [src]="video.snippet.thumbnails.medium.url" alt="thumbnail" />
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ video.snippet.title }}</h2>

          <p class="card_text">
            {{ video.snippet.description }}
          </p>
          <button class="btn card_btn" (click)="onClickWatch(video)">
            Watch Video
          </button>
        </div>
      </div>
    </li>
  </ul>

  <!-- infinite scroll div -->
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    [alwaysCallback]="true"
  ></div>

  <!-- Alert no more post -->
  <div *ngIf="!notMoreVideos" class="row pb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2">
        No more items to show
      </div>
    </div>
  </div>
</div>
