<div class="container-home">
  <form #videoInfo="ngForm" (ngSubmit)="onClickWatch()">
    <ul *ngIf="videos" class="cards">
      <li *ngFor="let video of videos" class="cards_item">
        <div class="card">
          <div class="card_image">
            <img [src]="video.snippet.thumbnails.high.url" alt="thumbnail" />
          </div>
          <div class="card_content">
            <h2 class="card_title">{{ video.snippet.title }}</h2>
            <input
              type="hidden"
              name="title"
              [(ngModel)]="video.snippet.title"
            />
            <input
              type="hidden"
              name="channelTitle"
              [(ngModel)]="video.snippet.channelTitle"
            />
            <p class="card_text">
              {{ video.snippet.description }}
              <input
                type="hidden"
                name="description"
                [(ngModel)]="video.snippet.description"
              />
            </p>
            <input class="btn card_btn" type="submit" value="Watch Video" />
            <input
              type="hidden"
              name="videoId"
              [(ngModel)]="video.id.videoId"
            />
          </div>
        </div>
      </li>
    </ul>
  </form>
  <!-- infinite scroll div -->
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
  ></div>

  <!-- Alert no more post -->
  <div *ngIf="!notMoreVideos" class="row pb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2">
        No more items to show
      </div>
    </div>
  </div>
</div>
